:root {
  --nf_red: #e50914;
  --nf_black: #141414;
  --nf_white: #aaa;
  --main_font: Calibri;
  --logo_font: "Franklin Gothic Medium";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base CSS selector*/

body {
  background: var(--nf_black);
  font-family: var(--main_font), Times, serif;
  color: white;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  color: var(--nf_red);
  font-size: 40px;
  margin-left: 5px;
  font-family: var(--logo_font), Cambria, serif;
}

header nav a {
  text-decoration: none;
  color: var(--nf_white);
  margin-right: 10px;
}

header nav a:hover {
  color: #fff;
}

/* Main movie CSS Selectors */

.main-movie {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/got-cover.jpg");
  font-size: 16px;
  height: 500px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.description {
  margin-top: 15px;
  margin-bottom: 40px;
}

.title {
  margin-top: 15%;
  font-size: 40px;
  font-family: "Trebuchet MS" S, Arial, sans-serif;
}

.button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 15px 30px;
  margin-right: 15px;
  font-size: 12px;
  cursor: pointer;
  transition: 0.3s ease all;
}

.button:hover {
  background-color: white;
  color: black;
}

button i {
  margin-right: 7px;
}

.container {
  margin-left: 15px;
}

.main-movie .container {
  width: 75%;
}

.movie-box {
  height: 100%;
  width: 100%;
  display: block;
}

.movies-carousel {
  margin-top: 10px;
}
